@import "../../../styles.scss";

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    width: 55px;
    height: 55px;
}
.userBtn{
    border: 2px solid $primary-color !important;
    color: $primary-color !important;
    padding: .3rem .5rem !important;
    margin: 0 .5rem;
}
.table thead th{
    border: none !important;
    color: $darkGray-color !important;
    font-weight: 500 !important;
}
.table td {
    padding: 1.2rem .75rem !important;
}
.addNew{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}


.usersTable .card-body { 
    position: relative;
    overflow: hidden;
    transition: left 0.5s ease; /* Animation styles are just for demo */
    left:0;
  }
  
  .usersTable .card-body.push {
    left:250px;
  }

  .is-selected{
      background: $primary-color;
  }

  .mat-drawer-container {
    background-color: transparent !important;
  
    .mat-drawer{
        background: #F5F5F5 !important;
    }
  
  .example-sidenav {
    padding: 20px;
    .imgUser{
        width: 127px;
        height: 127px;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    span{
        font-size: 18px;
        cursor: pointer;
    }
    .secondaryBtn{
        background:  transparent !important;
    }
    .secondaryBtn:hover{
        background: $primary-color !important;
        color: #fff !important;
        transform: translateY(-2px);
    }
  } 
}