/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

$primary-color:#8E44AD;
$secondary-color:#34495E;
$darkGray-color: #7F8C8D;
$lightGray-color:#D6DBE4;
$bgBody-color: #f5f5f5;

body{
    background-color: $bgBody-color !important;
    color: $darkGray-color !important;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg-custom{
    background-color: $lightGray-color !important;
    color: $secondary-color !important;
}

a{
    color: $primary-color;
    cursor: pointer;
}

.primary-color{
    color: $primary-color
}

.form-control:focus {
    border-color: #a228c8 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(128 6 153 / 25%) !important;
}

.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}

.primaryBtn{
    background: $primary-color;
    color: #fff !important;
    border-radius: 20px;
    height: 40px;
    padding: 10px 25px !important;
    font-size: 16px !important;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border: 1px solid $primary-color;
}
.primaryBtn:hover{
    background:  #fff !important;
    color: $primary-color !important;
    border: 1px solid $primary-color;
    transform: translateY(-2px);
}
.secondaryBtn{
    background:  $lightGray-color !important;
    color: $primary-color !important;
    border: 1px solid $primary-color;
    border-radius: 20px;
    height: 40px;
    padding: 10px 25px !important;
    font-size: 16px !important;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.secondaryBtn:hover{
    background: $primary-color !important;
    color: #fff !important;
    transform: translateY(-2px);
}

.mat-dialog-container{
    background: #fff !important;
}


.profile{
    top: -125px;
    position: relative;

}
.userImg{
    border-radius: 50%;
    width:106px;
    height:106px;
    border: 2px solid #fff;
    background: #7F8C8D;
}
.userIcon{
    background: #7F8C8D;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 40px;
}
.user_card {
    position: absolute; 
    display: flex;
	justify-content: center;
	flex-direction: column;
    padding: 10px 30px;

    form{
        width: 100%;
        margin-top: -6rem;
        label{
            color: $darkGray-color !important;
        }
        
        input{

        }
    }
}

/******snackbar*******/

.success-dialog {
    color: white !important;
    background-color: green !important;
}

.success-dialog .mat-simple-snackbar-action {
    color: white !important;
}

.danger-dialog {
    color: white !important;
    background-color: red !important;
}

.danger-dialog .mat-simple-snackbar-action {
    color: white !important;
}

/*** Dailog ***/
mat-dialog-container h3{
    color: $darkGray-color !important;
}
mat-dialog-container p{
    color: $secondary-color !important;
}